<%- include('partials/header') %> <% if (messages.success) { %>
<div id="flash-message" class="alert alert-success" role="alert">
  <%= messages.success[0] %>
</div>
<% } %> <% if (messages.error) { %>
<div id="flash-message" class="alert alert-danger" role="alert">
  <%= messages.error[0] %>
</div>
<% } %>

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow p-4">
      <h2 class="mb-4">Reset Your Password</h2>
      <form action="/reset/<%= token %>" method="POST">
        <div class="mb-3">
          <label for="password" class="form-label">New Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="password"
            required
          />
        </div>
        <button class="btn btn-success w-100">Reset Password</button>
      </form>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
